# ─────────────────────────────────────
# .env.example — Production Config
# ─────────────────────────────────────

# Django
# Secret Key: 50 characters, mix of alphanumeric and special characters
DJANGO_SECRET_KEY=y-r@9o)t$#_a3(8z!h*j7m^k2q&w5n+u1x=p4vL-zD@sG!kH#L
DJANGO_DEBUG=False
DJANGO_ALLOWED_HOSTS=thezhasan.com,api.thezhasan.com,www.thezhasan.com,156.67.216.209

# Database
DB_NAME=zahed_portfolio
DB_USER=zahed_admin
DB_PASSWORD=Ph#9zK!vL2pQ*7mX@5rY$nJ+wT
MYSQL_ROOT_PASSWORD=K&*2pQ!vLu1x=p4vL-zD@sG!kH#LR#9zK
VPS_IP=156.67.216.209
